<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PriconneReTLInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PriconneReTLUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PriconneReTLInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <PriconneReTLInstaller.Properties.Settings>
            <setting name="uninstallFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>BepInEx\core</string>
                        <string>BepInEx\plugins</string>
                        <string>BepInEx\Translation</string>
                        <string>dotnet</string>
                        <string>.doorstop_version</string>
                        <string>doorstop_config.ini</string>
                        <string>winhttp.dll</string>
                        <string>changelog.txt</string>
                        <string>Version.txt</string>
                        <string>ReTL_Updater.lnk</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="configFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>BepInEx/config/AutoTranslatorConfig.ini</string>
                        <string>BepInEx/config/BepInEx.cfg</string>
                        <string>BepInEx/config/PriconneTLFixup.cfg</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="patchGithubApi" serializeAs="String">
                <value>https://api.github.com/repos/ImaterialC/PriconneRe-TL</value>
            </setting>
            <setting name="aboutText" serializeAs="String">
                <value>
Inspired by https://github.com/touanu/PriconeTL_Updater

All assets used in this application are properties of CyberAgent, Inc., Cygames, Inc. / their respective creators.</value>
            </setting>
            <setting name="installMode" serializeAs="String">
                <value>Install</value>
            </setting>
            <setting name="installModeDescription" serializeAs="String">
                <value>Installs the translation patch.
Keeps config files, ignored files and 
any user created files already present.</value>
            </setting>
            <setting name="uninstallMode" serializeAs="String">
                <value>Uninstall</value>
            </setting>
            <setting name="uninstallModeDescription" serializeAs="String">
                <value>Removes the translation patch.
Keeps any user created files.
Depending on the options selected, keeps or removes config/ignored/interop files.</value>
            </setting>
            <setting name="reinstallMode" serializeAs="String">
                <value>Reinstall</value>
            </setting>
            <setting name="reinstallModeDescription" serializeAs="String">
                <value>Removes the translation patch, and then installs the latest version.
Keeps any user created files.
Depending on the options selected, keeps or removes config/ignored/interop files.</value>
            </setting>
            <setting name="updateMode" serializeAs="String">
                <value>Update</value>
            </setting>
            <setting name="updateModeDescription" serializeAs="String">
                <value>Updates the current translation patch installation by removing the the current version and installing the latest.
Keeps user files, as well as config/ignored/interop files.</value>
            </setting>
            <setting name="disabledMode" serializeAs="String">
                <value>Disabled</value>
            </setting>
            <setting name="disabledModeDescription" serializeAs="String">
                <value>Operation disabled due to an error.
See log for details.</value>
            </setting>
            <setting name="launchMode" serializeAs="String">
                <value>Launch Game</value>
            </setting>
            <setting name="launchModeDescrption" serializeAs="String">
                <value>Launches the game using the selected launcher.</value>
            </setting>
            <setting name="noOperationMode" serializeAs="String">
                <value>No Operation</value>
            </setting>
            <setting name="noOperationModeDescription" serializeAs="String">
                <value>No operation selected.</value>
            </setting>
            <setting name="auGithubApi" serializeAs="String">
                <value>https://api.github.com/repos/tynave/PriconneReTL-AutoUpdater</value>
            </setting>
            <setting name="auAppGithubApi" serializeAs="String">
                <value>https://api.github.com/repos/tynave/PriconneReTL-AutoUpdaterApp</value>
            </setting>
            <setting name="cannotStartDMMFastLauncherError" serializeAs="String">
                <value>DMMGamePlayerFastLauncher shortcut not set or not valid!

In order to be able to launch the game via the DMMGamePlayerFastLauncher, you need to set the shortcut of it in the installer. 

If you have moved/removed/renamed the previously set shortcut, please re-set it. 

Press the OK button to open the window for setting the shortcut. Press the Cancel button to abort the operation. 

You can set the shortcut any time by clicking the "Settings" icon (scroll) and selecting the "Set DMMGamePlayerFastLauncher shortcut" option.</value>
            </setting>
        </PriconneReTLInstaller.Properties.Settings>
        <PriconneReTLUpdater.Properties.Settings>
            <setting name="uninstallFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>BepInEx\core</string>
                        <string>BepInEx\plugins</string>
                        <string>BepInEx\Translation</string>
                        <string>dotnet</string>
                        <string>.doorstop_version</string>
                        <string>doorstop_config.ini</string>
                        <string>winhttp.dll</string>
                        <string>changelog.txt</string>
                        <string>Version.txt</string>
                        <string>ReTL_Updater.lnk</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ignoreFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>BepInEx/Translation/en/Text/_AutoGeneratedTranslations.txt</string>
                        <string>BepInEx/Translation/en/Text/_Postprocessors.txt</string>
                        <string>BepInEx/Translation/en/Text/_Preprocessors.txt</string>
                        <string>BepInEx/Translation/en/Text/_Substitutions.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="configFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>BepInEx/config/AutoTranslatorConfig.ini</string>
                        <string>BepInEx/config/BepInEx.cfg</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="githubApi" serializeAs="String">
                <value>https://api.github.com/repos/ImaterialC/PriconneRe-TL</value>
            </setting>
            <setting name="helpText" serializeAs="String">
                <value>How to use:

First / Fresh Install:
If you have never used the patch before, or you don't have it currently installed, just press the Start button, and the application will donwload and install the translation patch for you.
If you have config files left over from a previous installation, the application will keep those.

Update:
If you already have a version of the translation patch applied, just press the Start button, and the application will update it by comparing the latest with the currently applied version, and adding/removing/renaming the necessery files.
Important configuration files are not touched during this process.

Force Redownload / Reinstall:
If you check the "Force Redownload" option befor pressing the Start button, the application will delete the currently installed translation patch version, and donwload and install the latest release. It's like and Uninstall + Install
Force Redownload keeps the important config files untouched.

Uninstall:
If you check the "Uninstall" option before pressing the Start button, the application will remove the currently installed translation patch.
Depending on if you checked the "Delete config files" option, it will either keep or delete the important config files too.

By checking / unchecking the "Show Logs" option, you can view/hide a detailed progress/output log.
All the operations processed are always logged into the ReTLUpdater.log file in the application's folder, regardless of this option.</value>
            </setting>
            <setting name="aboutText" serializeAs="String">
                <value>
Inspired by https://github.com/touanu/PriconeTL_Updater

All assets used in this application are properties of CyberAgent, Inc., Cygames, Inc. / their respective creators.</value>
            </setting>
            <setting name="installMode" serializeAs="String">
                <value>Current Mode: Install</value>
            </setting>
            <setting name="installModeDescription" serializeAs="String">
                <value>Installs the translation patch.
Keeps the config files if already present.</value>
            </setting>
            <setting name="uninstallMode" serializeAs="String">
                <value>Current Mode: Uninstall</value>
            </setting>
            <setting name="uninstallModeDescription" serializeAs="String">
                <value>Removes the translation patch files, but keeps any user files.</value>
            </setting>
            <setting name="fredownloadMode" serializeAs="String">
                <value>Current Mode: Force Redownload / Reinstall</value>
            </setting>
            <setting name="fredownloadModeDescription" serializeAs="String">
                <value>Removes the translation patch, inculding the generated interop assemblies and then installs the latest version.
Keeps config files.</value>
            </setting>
            <setting name="updateMode" serializeAs="String">
                <value>Current Mode: Update</value>
            </setting>
            <setting name="updateModeDescription" serializeAs="String">
                <value>Updates the current translation patch installation by adding/removing/renaming files compared to the current version.
Keeps config files.</value>
            </setting>
            <setting name="disabledMode" serializeAs="String">
                <value>Current Mode: Disabled</value>
            </setting>
            <setting name="disabledModeDescription" serializeAs="String">
                <value>Operation disabled due to an error.
See log for details.</value>
            </setting>
            <setting name="deleteConfigText" serializeAs="String">
                <value>Deletes config files.</value>
            </setting>
            <setting name="keepConfigText" serializeAs="String">
                <value>Keeps config files.</value>
            </setting>
            <setting name="deleteIgnoredText" serializeAs="String">
                <value>Deletes ignored files.</value>
            </setting>
            <setting name="keepIgnoredText" serializeAs="String">
                <value>Keeps ignored files.</value>
            </setting>
            <setting name="deleteInteropsText" serializeAs="String">
                <value>Deletes interops.</value>
            </setting>
            <setting name="keepInteropsText" serializeAs="String">
                <value>Keeps interops.</value>
            </setting>
        </PriconneReTLUpdater.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PriconneReTLInstaller.Properties.Settings>
      <setting name="ignoreFiles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>BepInEx/Translation/en/Text/_AutoGeneratedTranslations.txt</string>
            <string>BepInEx/Translation/en/Text/_Postprocessors.txt</string>
            <string>BepInEx/Translation/en/Text/_Preprocessors.txt</string>
            <string>BepInEx/Translation/en/Text/_Substitutions.txt</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="launchState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fastLauncherLink" serializeAs="String">
        <value />
      </setting>
      <setting name="LastKnownVersion" serializeAs="String">
        <value>1.3.0.0</value>
      </setting>
    </PriconneReTLInstaller.Properties.Settings>
  </userSettings>
</configuration>